<%- include('layout/header.ejs') %>
    <section class="main-container">
        <div class="restaurants-container">
            <div class="sidebar">
                <div class="num-per-page-div">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            3 per page
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                        <label class="form-check-label" for="flexRadioDefault1">
                            5 per page
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                            checked>
                        <label class="form-check-label" for="flexRadioDefault2">
                            10 per page
                        </label>
                    </div>
                    <hr>
                    <div class="borough-div">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" placeholder="Borough" aria-label="Borough">
                        </form>
                    </div>
                    <Button type="button" class="btn btn-primary">Search</Button>
                </div>

            </div>
            <div class="list-div">
                <div class="list-group">
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="restaurant-item">
                            <img class="list-item-img" src="./assets/3.jpeg" alt="">
                            <div class="list-item-content">
                                <h5 class="restaurant-item-name">Restaurant Name</h5>
                                <p>Address</p>
                                <p>Borough</p>
                                <p>Cuisine.</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="restaurant-item">
                            <img class="list-item-img" src="./assets/3.jpeg" alt="">
                            <div class="list-item-content">
                                <h5 class="restaurant-item-name">Restaurant Name</h5>
                                <p>Address</p>
                                <p>Borough</p>
                                <p>Cuisine.</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="restaurant-item">
                            <img class="list-item-img" src="./assets/3.jpeg" alt="">
                            <div class="list-item-content">
                                <h5 class="restaurant-item-name">Restaurant Name</h5>
                                <p>Address</p>
                                <p>Borough</p>
                                <p>Cuisine.</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="restaurant-item">
                            <img class="list-item-img" src="./assets/3.jpeg" alt="">
                            <div class="list-item-content">
                                <h5 class="restaurant-item-name">Restaurant Name</h5>
                                <p>Address</p>
                                <p>Borough</p>
                                <p>Cuisine.</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="restaurant-item">
                            <img class="list-item-img" src="./assets/3.jpeg" alt="">
                            <div class="list-item-content">
                                <h5 class="restaurant-item-name">Restaurant Name</h5>
                                <p>Address</p>
                                <p>Borough</p>
                                <p>Cuisine.</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="restaurant-item">
                            <img class="list-item-img" src="./assets/3.jpeg" alt="">
                            <div class="list-item-content">
                                <h5 class="restaurant-item-name">Restaurant Name</h5>
                                <p>Address</p>
                                <p>Borough</p>
                                <p>Cuisine.</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="restaurant-item">
                            <img class="list-item-img" src="./assets/3.jpeg" alt="">
                            <div class="list-item-content">
                                <h5 class="restaurant-item-name">Restaurant Name</h5>
                                <p>Address</p>
                                <p>Borough</p>
                                <p>Cuisine.</p>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="restaurant-item">
                            <img class="list-item-img" src="./assets/3.jpeg" alt="">
                            <div class="list-item-content">
                                <h5 class="restaurant-item-name">Restaurant Name</h5>
                                <p>Address</p>
                                <p>Borough</p>
                                <p>Cuisine.</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="page-navbar">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
        <div class="map-container">map</div>
    </section>
    <%- include('layout/footer.ejs') %>

