<footer>
    <p class="copyright">© 2025 Create by Yuelin Wen</p>
</footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous">
    </script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.getElementById("commentForm").addEventListener("submit", function (event) {
            event.preventDefault();

            let comment = document.getElementById("commentText").value.trim();
            let grade = document.getElementById("gradeSelect").value;
            let restaurantId = document.getElementById("restaurantId").value;

            if (!comment || !grade) {
                alert("Please enter a comment and select a grade.");
                return;
            }

            axios.put(`/restaurants/${restaurantId}/comment`, {
                comment: comment,
                grade: grade
            })
                .then(response => {
                    alert("Comment added successfully!");
                    location.reload();
                })
                .catch(error => {
                    console.log("Error: " + (error.response ? error.response.data.error : error.message));
                });
        });
    });
</script>
<style>
    body {
        font-family: "Roboto", serif;
        align-items: center;

    }

    footer {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5em;
        color: grey;
    }

    img {
        /* object-fit: cover; */
    }

    .nav-header {
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: end;

    }

    .nav-search {
        width: 55%;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    #title {
        font-family: "Sue Ellen Francisco", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 30px;
    }

    #logo {
        width: 2em;
    }

    .main-container {
        display: flex;
        flex-direction: row;
    }

    .restaurants-container {
        width: 70%;
        display: flex;
        flex-direction: row;
    }

    .map-container {
        width: 30%;
        background-color: red;
    }

    .sidebar {
        width: 20%;
    }

    .list-div {
        width: 80%;
        display: flex;
        flex-direction: column;
    }


    .list-group {
        height: 90%;
    }

    .list-item-img {
        width: 30%;
        height: 200px;
    }

    .restaurant-item {
        display: flex;
        flex-direction: row;
    }

    .list-item-content {
        width: 70%;
        padding: 10px;
    }

    .restaurant-item-name {
        font-family: "Sue Ellen Francisco", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
    }

    .page-navbar {
        margin-top: auto;
        padding-top: 20px;
        display: flex;
        justify-content: center;
    }

    .num-per-page-div {
        padding-left: 1%;
    }





    /* detail.css */
    .detail-main-body {
        width: 100vw;
        display: flex;
        flex-direction: column;
        /* cross axis */
        align-items: center;
        /* main axis  */
        justify-content: center;
        margin-top: 50px;
    }

    .detail-image {
        height: 500px;
        /* object-fit: cover; */
    }

    .detail-list-item-content {
        margin-top: 100px;
        text-align: center;
    }

    .detail-comment {}

    .detail-map {
        background-color: red;
        width: 90%;
        height: 600px;
        margin-top: 20px;
    }

    #exampleFormControlTextarea1 {
        width: 500px;
    }
</style>

</html>